$color1: #00263e;
$color2: #405c6f;
$color3: #11826d;
$color4: #15b588;
$color5: #14a47f;

@import "reset";
@import "content";
@import "flexboxgrid";
@import "header";
@import "introduction";
@import "sections";
@import "mailing";
@import "footer";
@import "toc";
@import "shortcut";
